#thirdDiv{
    height: 600px;
    width: 400px;
    background-color: lightblue;
    padding: 40px;
    border-width: 2px;
    border-color: darkblue;
    border-style: dotted;
    margin: 2px;
    font-size: 20px;

    display:flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.main{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}


.column{
    flex: 1;
}

body{
    background-image: url(https://articles-img.sftcdn.net/images/f_auto,q_auto/w_1920,h_1080/v1582331925/paisaje_6_hsj0ei/paisaje_6_hsj0ei.jpg);
    background-repeat: no-repeat;
}

a{
    color: darkred;
}

.divClass{
    background-color: rgb(255, 213, 219);
    padding: 40px;
    width: 400px;
    border-width: 2px;
    border-color:darkred;
    border-style: dotted;
    margin: 2px;
}

#encabezado{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
}

#spanId{
    font-size: 18px;
}

h1{
    color:darkred;
}

img{
    width: 200px;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}